In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Store csv created in part one into a DataFrame
city_data_df = pd.read_csv("output_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,ilulissat,69.2167,-51.1000,46.42,57,75,5.75,GL,1624134153
1,1,vanimo,-2.6741,141.3028,75.83,89,100,3.69,PG,1624134154
2,2,hermitage,41.2334,-80.4487,77.14,86,90,6.91,US,1624134154
3,3,wyndham,37.6985,-77.6125,93.81,49,1,1.01,US,1624133892
4,4,atuona,-9.8000,-139.0333,79.66,75,16,21.12,PF,1624133890

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Narrow down cities that fit criteria and drop any results with null values
narrowed_city_df = city_data_df.loc[(city_data_df["Max Temp"] < 80) & (city_data_df["Max Temp"] > 70) \
                                    & (city_data_df["Wind Speed"] < 10) \
                                    & (city_data_df["Cloudiness"] == 0)].dropna()
narrowed_city_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
330,330,martinho campos,-19.3317,-45.2369,75.16,39,0,4.41,BR,1624134288
359,359,leczna,51.3012,22.8814,70.11,78,0,1.14,PL,1624134300
437,437,gat,31.6100,34.7642,74.80,100,0,2.91,IL,1624134332
458,458,kasongo-lunda,-6.4667,16.8167,70.65,34,0,1.21,CD,1624134340
476,476,port said,31.2565,32.2841,75.18,69,0,8.05,EG,1624134247
479,479,zheleznodorozhnyy,55.7503,38.0042,72.01,74,0,5.82,RU,1624134349

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates
hotel_df = narrowed_city_df[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                  City Country      Lat      Lng Hotel Name
330    martinho campos      BR -19.3317 -45.2369
359             leczna      PL  51.3012  22.8814
437                gat      IL  31.6100  34.7642
458      kasongo-lunda      CD  -6.4667  16.8167
476          port said      EG  31.2565  32.2841
479  zheleznodorozhnyy      RU  55.7503  38.0042

In [7]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

                  City Country      Lat      Lng Hotel Name
330    martinho campos      BR -19.3317 -45.2369
359             leczna      PL  51.3012  22.8814
437                gat      IL  31.6100  34.7642
458      kasongo-lunda      CD  -6.4667  16.8167
476          port said      EG  31.2565  32.2841
479  zheleznodorozhnyy      RU  55.7503  38.0042

In [8]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))